# Vim
vim/vim/plugged

# Backup folder
backup

tilde/.config/*
!tilde/.config/sheldon/
!tilde/.config/sheldon/plugins.toml
!tilde/.config/nvim/
!tilde/.config/ghostty/
!tilde/.config/opencode/
!tilde/.config/opencode/config.json
!tilde/.config/k9s/
!tilde/.config/k9s/skins/
!tilde/.config/k9s/config.yaml
!tilde/.config/lazygit/
!tilde/.config/lazygit/config.yml
!tilde/.config/raycast/
!tilde/.config/raycast/default.rayconfig

# macOS
.DS_Store
.gitsecret/keys/random_seed
!*.secret
bin/py-lsp
